.content{
    width: 100%;
    padding: 3em;
}

.con-icons{
    display: flex;
    justify-content: space-between;
    height: 3vh;
    max-width: 300px;
    margin: auto;
}

.con-text{
    margin-top: 2em;
    text-align: center;
}

.con-text > h2 {
    font-size: 1em;
}