

.content{
    width: 70%;
    margin: auto;
    margin-top: 6rem;
}

.work-meta-data{
    display:flex;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

.date{
    background-color: #FF7C7C;
    padding: .5em 1em .5em 1em;
    border-radius: 3em;
    color:#fff;
    margin-right: 1em;
}


.heading-1{
    margin-top: 1em;
}

.heading-2{
    margin-top: .5em;
}


.img-collection > img{
   width: 80%;
   margin-bottom: 4rem;
}


.main-work{
    width: 100%;
}

.main-work > img{
    width: 60%;
}


.img-collection >img{
    width: 60%;
}
 

@media (max-width: 700px){
    .content{
        width: 90%;
        margin: auto;
        margin-top: 6em;
      
    }
    
    
    h1{
        color:#21243D;
        font: bold;
    }
    
    .img-collection >img{
        width: 100%;
    }
    


}