<div class="content">
    <div class="title">
        <span>
            <button (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <h1 class="text-title">Designing Dashboards with usability in mind</h1></span>
    </div>

    <div class="work-meta-data">
        <span class="date">2020</span>
        <div class="category">Dashboard, User Experience Design</div>
    </div>

    <div class="details-short">
        <p class="details-in-short">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
    <div class="main-work">
        <img src="../../assets/img/work.png" alt="" class="main-img">
    </div>

    <h1 class="heading-1">Heading1</h1>
    <h3 class="heading-2">Heading2</h3>
    <p class="text-content"></p>
    <div class="img-collection">
        <img src="../../assets/img/work2.png" alt="" class="img-1">
        <img src="../../assets/img/work3.png" alt="" class="img-2">
    </div>
</div>