<div class="content">
        <div class="title">
            <h4>Recent posts</h4>
        </div>

        <div class="posts">
                <div class="post">
                    <div class="post-title"><h1 class="post-header">Making a design system from scratch</h1></div>
                    <div class="post-meta-data">
                        <div class="post-date">12 Feb 2020</div>
                        <div class="post-spliter"></div>
                        <div class="post-category">Design, Pattern</div>
                    </div>
                    <div class="post-details">
                        <p class="post-content">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>

                <div class="post">
                    <div class="post-title"><h1 class="post-header">Making a design system from scratch</h1></div>
                    <div class="post-meta-data">
                        <div class="post-date">12 Feb 2020</div>
                        <div class="post-spliter"></div>
                        <div class="post-category">Design, Pattern</div>
                    </div>
                    <div class="post-details">
                        <p class="post-content">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>
        </div>
</div>