
<div class="content">
    <h1 class="main-title">UI Interactions of the week</h1>
    <div class="blog-meta-data">
        <div class="date"><span class="blog-date">12 Feb 2019</span></div>
        <div class="spliter"></div>
        <div class="category"><span class="blog-category">Express, Handlebars</span></div>
    </div>
    <div class="text-content">
        <p class="blog-content">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>

    <div class="slider"></div>
</div>